<link rel="stylesheet" href="../styles/createAccount.css">
<meta charset="UTF-8">

<div id="createAccount-container">
    <h1 id="createAccount-Text">Crear cuenta</h1>
    <div id="register-Form">
        <div class="register-Field">
            <div class="register-Text">
                <label for="email">Correo</label>
            </div>
             <div>
                <input class="input-Field" id="email" pattern=".+@example.com" placeholder="pedro@example.com" required>
            </div>
        </div>
        <div class="register-Field">
            <div class="register-Text">
                <label for="password">Contraseña</label>
            </div>
            <div class="passwordInput-Field">
                <span>
                    <input class="input-Field" type="password" id="password" pattern=".{8,}" placeholder="Contraseña" required>
                    <button class="toggle-Password" type="button">👁️</button>
                </span>
            </div>
        </div>
        <div class="register-Field">
            <div class="register-Text">
                <label for="confirm-Password">Confirmar contraseña</label>
            </div>
            <div class="passwordInput-Field">
                <span>
                    <input class="input-Field" type="password" id="confirm-Password" pattern=".{8,}" placeholder="Contraseña" required>
                    <button class="toggle-Password" type="button">👁️</button>
                </span>
            </div>
        </div>
        <div class="register-Field">
            <div class="register-Text">
                <label for="user-Name">Nombre de usuario</label>
            </div>
            <div>
                <input class="input-Field" id="user-Name" placeholder="ArmadilloAmarillo" required>
            </div>
        </div>
        <div class="register-Field">
            <div class="register-Text">
                <label for="birthdate">Fecha de nacimiento</label>
            </div>
            <div id="birthDate-Input-Field">
                <input id="birthdate" type="date" required>
            </div>
        </div>
        <div class="inputOptions-Field" id="createAccount-Field">
            <button id="createAccountButton">Crear cuenta</button>
        </div>
    </div>
</div>