* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.25em;
    height: 37em;
    width: 60vh;
    border: whitesmoke solid 2px;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow: 0 0 10px 8px #A8A8A8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4vh auto;
    min-width: 60%;
}

#createAccount-Text {
    color: #323234;
    padding-left: 0.3em;
    font-size: 2.5em;
}

#createAccount-Form {
    width: 100%;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

section {
    width: 100%;
    margin-block: 0.5em;
}

input {
    width: 94%;
    height: 80%;
    padding: 0.8em 0 0.8em 1em;
    border-radius: 0.5em;
    border: #A8A8A8 solid 2px;
    font-size: 1.1em;
}

#createAccount-Field {
    height: 3.8em;
    margin-top: 1em;
    width: 94.5%;
    display: flex;
    justify-content: center;
}

#birthdate, #confirm-password, #password {
    padding-left: 1em;
    padding-right: 1.5em;
}

label {
    font-size: 1.2em;
}

#birthdate {
    font-size: 1.3em;
}

#createAccountButton {
    width: 100%;
    border-radius: 5em;
    border: #1d407d solid 2px;
    background: #1d407d;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
