* {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    align-items: center;
    background: #b1bfce;
}

a {
    width: 6em;
    height: 6em;
    display: flex;
}
