* {
    margin: 0;
    padding: 0;
}


#main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #b1bfce;
    padding: 0.6em;
}

figure {
    width: 5em;
    height: 5em;
    display: flex;
}

#optionButtons {
    width: 25em;
    height: 2.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #1f3677;
    color: white;
    padding: 0.65em;
    border: none;
    border-radius: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
}

.button:hover {
    background-color: #12214c;
}

#logIn {
    width: 40%;
}

#register {
    width: 55%;
}
