#body_container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#custom-background {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/background.webp');
    background-size: 300px 300px;
    background-repeat: repeat;
    background-position: top left;
    position: relative;
}

#bodyFrame-container {
    width: 70%;
    height: 70vh;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#profile-frame {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto auto;
    padding-bottom: 5%;
}

#profile-photo {
    width: 90%;
    border-radius: 50%;
    border: 5px solid #ccc;
    object-fit: cover;
}

.chat-panel {
    width: 30%;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#gap {
    width: 1%;
}

.contentWindow {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background-color: #e5ddd5;
    position: relative;
    text-align: center;
}

/* Responsividad para móviles */
@media screen and (max-width: 768px) {
    #body_container {
        margin-top: 0; /* No need for margin since toolbar is not fixed */
        height: 100vh; /* Take up full viewport height */
        flex-direction: column; /* Stack content vertically */
    }

    #bodyFrame-container {
        width: 100%; /* Take up full width */
        height: auto; /* Adjust height based on content */
        flex-direction: column; /* Stack toolbar, bodyFrame, and contentWindow vertically */
        box-shadow: none; /* Remove shadow for mobile */
        border-radius: 0; /* Remove border radius for mobile */
        background-color: transparent; /* Remove background for mobile */
    }

    .chat-panel {
        width: 90%; /* Match the width from main.css */
        height: auto; /* Adjust height based on content */
        max-height: 100%; /* Ensure it doesn’t overflow */
        border-right: none; /* Remove border for mobile */
        border-radius: 10px; /* Match the border radius from main.css */
    }

    .contentWindow {
        width: 90%; /* Match the width from main.css */
        height: auto; /* Adjust height based on content */
        max-height: 100%; /* Ensure it doesn’t overflow */
        border-radius: 10px; /* Match the border radius from main.css */
    }
}