<meta charset="UTF-8">
<script src="../javascript/xlu-include-file.js"></script>
<link rel="stylesheet" href="../styles/chatRequest.css">

<div class="chatRequest-container">
    <div class="border-container">
        <div class="main-screen">
            <div class="chat-window-container">
                <div class="voiceMail-container" >
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                    <div xlu-include-file="../templates/voiceMailRequest.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>xLuIncludeFile();</script>

