

<div class="chatPanel-container">
    <div id="userProfile"></div>
    <div class="conversation-container">
        <div id = "voiceMessage" ></div>
        <div id = "voiceMessage2" ></div>
        <div id = "voiceMessage3" ></div>
        <div id = "voiceMessage4" ></div>
        <div id = "voiceMessage5" ></div>
    </div>


    <!--<div class="conversation-container">
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
    </div>
    -->
</div>

