<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="requestWindowContainer">
    <ul class="conversation-container" >
        <li>
            <div class="requestMessageBox" >
                <div id = "requestVoiceMessage" class="invitationChat"></div>
                <div class="button-box">
                    <button class="centerButton">
                        <img src="../images/aceptar.png" class="acceptButton" onclick="aceptContact()">
                    </button>
                    <button>
                        <img src="../images/rechazar.png" class="rejectButton" onclick="rejectContact()">
                    </button>
                </div>
            </div>
        </li><li>
        <div class="requestMessageBox" >
            <div id = "voiceMessage7" class="invitationChat"></div>
            <div class="button-box">
                <button class="centerButton">
                    <img src="../images/aceptar.png" class="acceptButton" onclick="aceptContact()">
                </button>
                <button>
                    <img src="../images/rechazar.png" class="rejectButton" onclick="rejectContact()">
                </button>
            </div>
        </div>
    </ul>
</div>
</body>
</html>