<meta charset="UTF-8">
<link rel="stylesheet" href="../styles/imageChanger.css">

<div class="banner"></div>
<div>
    <section class="grid-container">
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
    <article class="grid-item"></article>
</section>

</div>
