<meta charset="UTF-8">
<link rel="stylesheet" href="../styles/settingsPanelStyle.css">

<div class="settings-panel">
    <div class="settingContainer">
        <h2 >modificar la contraseña</h2>
        <div class="settings-options">
            <div class="option">
                <label for="password">Nueva contraseña:</label>
                <input type="password" id="password" name="user-name" placeholder="********">
            </div>

            <div class="option">
                <label for="password">Pepite Contraseña:</label>
                <input type="password" id="repeatPassword" name="password" placeholder="********">
            </div>
            <button onclick="changePassword()">Guardar</button>

    </div>
        <form action="#">
            <label for="size">Tamaño de letra</label>
            <select name="letter-Size" id="size">
                <option value="Muy pequeño">Muy pequeño</option>
                <option value="Pequeño">Pequeño</option>
                <option value="Mediano">Mediano</option>
                <option value="Grande">Grande</option>
                <option value="Muy grande">Muy grande</option>
            </select>
            <input type="submit" value="Enviar" />
        </form>
        <form action="#">
            <label for="Tema">Tema</label>
            <select name="color-App" id="Tema">
                <option value="Oscuro">Oscuro</option>
                <option value="Claro">Claro</option>
                <option value="Azul">Azul</option>
            </select>
            <input type="submit" value="Enviar" />
        </form>
        <button class="save-settings">Guardar cambios</button>
    </div>

</div>
