
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/settings.css">
<div class="setting-body">
<div class="setting-container">
  <h2 class="setting-header">Modificar Contraseña</h2>

  <form id="passwordForm">
    <label for="currentPassword" class="setting-label">Contraseña Actual:</label>
    <input type="password" id="currentPassword" name="currentPassword" class="setting-input" placeholder="Ingresa tu contraseña actual" required>

    <label for="newPassword" class="setting-label">Nueva Contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" class="setting-input" placeholder="Ingresa la nueva contraseña" required>

    <label for="confirmPassword" class="setting-label">Confirmar Nueva Contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="setting-input" placeholder="Confirma la nueva contraseña" required>

    <button type="submit" class="setting-button">Cambiar Contraseña</button>
  </form>

  <label for="themeSelect" class="setting-theme-label">Seleccionar Tema:</label>
  <select id="themeSelect" class="setting-select">
    <option value="normal">Normal</option>
    <option value="dark">Oscuro</option>

  </select>
</div>

</div>
