
<div class="toolbar">
    <button id="editButton" onclick="loadEditWindow(1)"><img src="../images/icono.jpg" alt="Botón de editar"></button>
    <button id="sendButton" onclick="loadSendWindow(2)"><img src="../images/play.png" alt="Botón 2"></button>
    <button id="requestButton" onclick="loadRequestWindow(3)"><img src="../images/carta.webp" alt="Botón 3"></button>
    <button id="settingButton" onclick="loadSettingWindow(4)"><img src="../images/settings.png" alt="Botón 4"></button>
</div>