<meta charset="UTF-8">
<link rel="stylesheet" href="../styles/message.css" type="text/css">

<div class="message-container">
    <div class="message-box">
        <div class="avatar" id="icono-container">
            <img src="../images/icono.jpg">
        </div>
        <div class="avatar" id="onda-container">
            <img src="../images/onda.png">
        </div>
        <div class="avatar">
            <img src="../images/playbutton.png" id="playbutton-container">
        </div>
    </div>
</div>