<meta charset="UTF-8">
<link rel="stylesheet" href="../styles/messageRequest.css">

<div class="massage-container" >
    <div class="message-box">
        <div class="avatar">
            <img src="../images/icono.jpg" alt="Avatar" class="white-font">
        </div>
        <div class="avatar" id="onda-container">
            <img src="../images/onda.png" alt="Avatar">
        </div>
        <div class="avatar">
            <img src="../images/playbutton.png" alt="Avatar" class="white-font">
        </div>
    </div>
    <div class="button-box">
        <figure>
            <img src="../images/aceptar.png" id="aceptar-img">
            <img src="../images/rechazar.png" id="rechazar-img">
        </figure>
    </div>
</div>