<link rel="stylesheet" href="../styles/messageAudio.css">
<meta charset="UTF-8">

<div class="requestMessageBox" >
    <div class="invitationChat">
        <div class="player-container">
            <img src="../images/icons/1.jpg" class="profilePic">

            <audio class="player">
                <source src="../images/audio.mp3" type="audio/mpeg">
            </audio>

            <button class="playPauseButton" onclick="togglePlay()">
                <img class="playPauseIcon" src="../images/audioPlay.png" alt="Play">
            </button>


            <input type="range" class="progress" value="0" max="100">

            <span class="currentTime time">0:00</span>
            <span class="time">/</span>
            <span class="durationTime time">0:00</span>
        </div>
    </div>

    <div class="button-box">
        <button class="centerButton">
            <img src="../images/aceptar.png" class="acceptButton" onclick="acceptContact(this)">
        </button>
        <button>
            <img src="../images/rechazar.png" class="rejectButton" onclick="rejectContact(this)">
        </button>
    </div>
</div>

<script src="../javascript/messageAudio.js"></script>

