* {
    margin: 0;
    padding: 0;
}

#createAccount-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.25em;
    height: 32.5em;
    width: 60vh;
    border: whitesmoke solid 2px;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow: 0 0 10px 8px #A8A8A8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4vh auto;
    min-width: 60%;
}

#createAccount-Text {
    color: #323234;
    padding-left: 0.3em;
}

#register-Form {
    width: 100%;
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.register-Field {
    width: 100%;
    margin-block: 0.5em;
}

.input-Field {
    width: 94%;
    height: 80%;
    padding: 0.8em 0 0.8em 1em;
    border-radius: 0.5em;
    border: #A8A8A8 solid 2px;
}

.inputOptions-Field {
    width: 96%;
    display: flex;
    justify-content: center;
}

#createAccount-Field {
    height: 3em;
    margin-top: 0.65em;
}

#birthDate-Input-Field {
    width: 100%;
    padding-top: 0.4em;
    border-radius: 0.5em;
}

#birthdate {
    height: 2.5em;
    width: 94%;
    padding-left: 1em;
    font-size: 1.1em;
    border-radius: 0.5em;
    border: #A8A8A8 solid 2px;
}

#createAccountButton {
    width: 100%;
    border-radius: 5em;
    border: #1d407d solid 2px;
    background: #1d407d;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.passwordInput-Field {
    position: relative;
}

.toggle-Password {
    position: absolute;
    top: 25%;
    left: 88%;
    border: none;
    background: none;
    cursor: pointer;
}