<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../styles/bodyFrame.css">
</head>
<body>
<div class="container">
  <div class="chat-panel">
    <div class="top-bar"></div>
    <div class="profile-frame">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZlAcC_1n7gulS21qRrKRo-FYLW4xLt9y2eA&s" alt="User Photo" class="profile-photo">
    </div>
  </div>
  <div class="gap"> </div>
  <!-- Ventana de chat -->
  <div class="chat-window">
    <div class="chat-messages">
    </div>
  </div>
</div>
</body>
</html>