<meta charset="UTF-8">
<link rel="stylesheet" href="../styles/bodyFrame.css">
<link rel="stylesheet" href="../styles/message.css">
<link rel="stylesheet" href="../styles/bodyFrameWithMessage.css">
<script src="../javascript/xlu-include-file.js"></script>

<div class="bodyFrameWithMessage-container">
<div class="wrapper">
    <header id="main_header" xlu-include-file="../templates/header.html"></header>
    <main>
        <div class="bodyFrame-container">
            <div class="container">
                <div  xlu-include-file="toolbar.html"></div>
                <div class="chat-panel"  xlu-include-file="chatPanel.html"></div>
            </div>
        </div>
    </main>
    <footer id="main_footer" xlu-include-file="../templates/footer.html"> </footer>
</div>
<script>xLuIncludeFile();</script>
</div>

