<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../javascript/xlu-include-file.js"></script>

    <link rel="stylesheet" href="../styles/bodyFrame.css">
    <link rel="stylesheet" href="../styles/message.css">
    <link rel="stylesheet" href="../styles/templateStyle.css">

</head>
<body style="height: 100vh">
<div class="wrapper" style="justify-content: center; align-items: center; height: 100vh">
<header id="main_header" xlu-include-file="../templates/header.html"></header>
    <div class="bodyFrame-container" style="margin-top: 1em">
<div class="container">

    <div  xlu-include-file="toolbar.html"></div>
    <div class="chat-panel"  xlu-include-file="chatPanel.html"></div>
</div>
</div>
    <footer id="main_footer" xlu-include-file="../templates/footer.html"> </footer>
</div>
<script>xLuIncludeFile();</script>
</body>
</html>