<meta charset="UTF-8">
<script src="../javascript/xlu-include-file.js"></script>
<link rel="stylesheet" href="../styles/bodyFrame.css">
<link rel="stylesheet" href="../styles/message.css">

<div class="chatPanel-container">
    <div class="profile-frame">
    <img src="../images/userphoto.png" alt="User Photo" class="profile-photo">
    </div>
    <div class="conversation-container">
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
        <div class="conversation">
          <div class="message-box-container" xlu-include-file="../templates/message.html"></div>
        </div>
    </div>
</div>
<div class="gap"></div>
<script>xLuIncludeFile();</script>
