<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="../javascript/xlu-include-file.js"></script>
  <link rel="stylesheet" href="../styles/bodyFrame.css">
  <link rel="stylesheet" href="../styles/message.css">
  <link rel="stylesheet" href="../styles/chatWindow.css">

</head>


<div class="chat-window-container">
  <div class="conversations-container" >
    <div style="height: 100%">
      <div class="chatTime"><span>10/15 21:00</span></div>
      <div class="chatConversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
      <div class="chatConversation" style="direction: rtl"><div xlu-include-file="../templates/voiceMail.html"></div></div>
      <div class="chatConversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
      <div class="chatConversation" style="direction: rtl"><div xlu-include-file="../templates/voiceMail.html"></div></div>
      <div class="chatConversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
      <div class="chatConversation" style="direction: rtl"><div xlu-include-file="../templates/voiceMail.html"></div></div>
      <div class="chatConversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
      <div class="chatConversation" style="direction: rtl"><div xlu-include-file="../templates/voiceMail.html"></div></div>
    </div>
  </div>
  <div class="contenedor-boton">
    <button class="mic-button"><img  src="../images/microphone.png" alt="Micrófono"></button>
  </div>
</div>

<script>xLuIncludeFile();</script>

</html>