<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="../javascript/xlu-include-file.js"></script>
  <link rel="stylesheet" href="../styles/bodyFrame.css">
  <link rel="stylesheet" href="../styles/message.css">

</head>

  <div>

    <div class="profile-frame">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZlAcC_1n7gulS21qRrKRo-FYLW4xLt9y2eA&s" alt="User Photo" class="profile-photo">
    </div>

    <div style="flex-direction: column; overflow-y: auto; align-items: center; height: 100%;">
      <div class="conversation"><div class="message-box-container" xlu-include-file="message.html"></div></div>
      <div class="conversation"><div class="message-box-container" xlu-include-file="message.html"></div></div>
      <div class="conversation"><div class="message-box-container" xlu-include-file="message.html"></div></div>
      <div class="conversation"><div class="message-box-container" xlu-include-file="message.html"></div></div>
      <div class="conversation"><div class="message-box-container" xlu-include-file="message.html"></div></div>
    </div>
  </div>

  <div class="gap"> </div>
  <script>xLuIncludeFile();</script>

</html>