<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablet Mockup</title>
    <script src="../javascript/xlu-include-file.js"></script>
    <link rel="stylesheet" href="../styles/chatRequest.css">
</head>
<div class="chatRequest-container">
<div class="border-container">
    <div class="main-screen">
        <div class="chat-window-container">
            <div class="voiceMail-container" >
                <div xlu-include-file="voiceMailRequest.html"></div>
                <div xlu-include-file="voiceMailRequest.html"></div>
                <div xlu-include-file="voiceMailRequest.html"></div>
                <div xlu-include-file="voiceMailRequest.html"></div>
                <div xlu-include-file="voiceMailRequest.html"></div>
                <div xlu-include-file="voiceMailRequest.html"></div>
                <div xlu-include-file="voiceMailRequest.html"></div>
                <div xlu-include-file="voiceMailRequest.html"></div>
            </div>
        </div>
    </div>
</div>
<script>xLuIncludeFile();</script>
</div>
</html>
