<meta charset="UTF-8">
<script src="../javascript/xlu-include-file.js"></script>
<link rel="stylesheet" href="../styles/bodyFrame.css">
<link rel="stylesheet" href="../styles/message.css">
<link rel="stylesheet" href="../styles/chatWindow.css">

<div class="chat-window-container">
    <div class="conversation-main-container" >
        <div class="conversation-container">
            <div class="chat-Time"><span>10/15 21:00</span></div>
            <div class="chat-conversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
            <div class="chat-conversation chat-Direction"><div xlu-include-file="../templates/voiceMail.html"></div></div>
            <div class="chat-conversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
            <div class="chat-conversation chat-Direction" style="direction: rtl"><div xlu-include-file="../templates/voiceMail.html"></div></div>
            <div class="chat-conversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
            <div class="chat-conversation chat-Direction"><div xlu-include-file="../templates/voiceMail.html"></div></div>
            <div class="chat-conversation"><div xlu-include-file="../templates/voiceMail.html"></div></div>
            <div class="chat-conversation chat-Direction"><div xlu-include-file="../templates/voiceMail.html"></div></div>
        </div>
    </div>
    <div class="button-container">
      <button class="mic-button"><img  src="../images/microphone.png"></button>
    </div>
</div>
<script>xLuIncludeFile();</script>
