<meta charset="UTF-8">
<script src="../javascript/xlu-include-file.js"></script>
<link rel="stylesheet" href="../styles/bodyFrame.css">
<link rel="stylesheet" href="../styles/message.css">
<link rel="stylesheet" href="../styles/chatWindow.css">
<link rel="stylesheet" href="../styles/editWindow.css">

<div class="edit-window-container">
    <div class="profile-container" >
      <img class="circleFrame" src="../images/users.png" alt="userPhoto" >
    </div>
    <div class="edit-frame">
        <div style="">
            <table class="profile-table" >
                <tr>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                </tr>

                <tr>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                </tr>

                <tr>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                </tr>

                <tr>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                </tr>

                <tr>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                    <td><img src="../images/interrogation.jpg" alt="Perfil" class="profile-image"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>xLuIncludeFile();</script>