<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>

<footer class="footer">
    <img src="../images/logo.png" alt="Logo" class="logo">
    <div class="panel-texto slogan">"Conéctate con tu voz, mensajería sin límites."</div>
    <div class="panel-texto contacto">
        <div class="titulo-contacto">Contacto:</div>
        <div class="datos-contacto">
            contacto@appmensajeria.com<br>
            +34 123 456 789
        </div>
    </div>
</footer>

</body>
</html>