<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHeader</title>
    <link rel="stylesheet" href="../styles/homeHeader.css">
</head>
<body>
<div class="homeHeader-container">
    <div id="container">
        <div>
            <figure>
                <img src="../images/logo.png" id="imageLogo">
            </figure>
        </div>
        <div id="optionButtons">
            <button type="button" id="logIn">Log in</button>
            <button type="button" id="register">Create account</button>
        </div>
    </div>
</div>
</body>
</html>
