<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/photoCarousel.css">
    <script src="../javascript/xlu-include-file.js"></script>
</head>
<body>
    <div class="wrapper">
        <header id="main_header" xlu-include-file="header.html"></header>
        <div class="main_content" xlu-include-file="photoCarousel.html"></div>
        <footer id="main_footer" xlu-include-file="footer.html"> </footer>
    </div>
    <script>xLuIncludeFile();</script>
</body>
</html>
