<link rel="stylesheet" href="../styles/logIn.css">
<meta charset="UTF-8">

<div id="login-container">
    <h1 id="LogInText">Iniciar sesión</h1>
    <div id="registerForm">
        <div class="registerField">
            <div class="registerText">
                <label for="email">Correo</label>
            </div>
            <div>
                <input class="inputField" id="email" pattern=".+@example.com" placeholder="pedro@example.com" required>
            </div>
        </div>
        <div class="registerField">
            <div class="registerText">
                <label for="password">Contraseña</label>
            </div>
            <div id="passwordInputField">
                <span>
                    <input class="inputField" type="password" id="password" pattern=".{8,}" placeholder="Contraseña" required>
                    <button id="togglePassword" type="button">👁️</button>
                </span>
            </div>
        </div>
        <div class="inputOptionsField" id="login-button-field">
            <button id="login-button">Iniciar sesion</button>
        </div>
        <div class="inputOptionsField">
            <input id="forgotPasswordText" type="button" value="¿Has olvidado la contraseña?" />
        </div>
    </div>
</div>