<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadro de Mensaje</title>
    <!-- Cambié src por href -->
    <link rel="stylesheet" href="../styles/message.css" type="text/css">
</head>

<body>
<div class="message-box">
    <div class="avatar">
        <img src="../images/icono.jpg" alt="Avatar">
    </div>
    <div class="text">Mensaje de prueba...</div>
</div>
</body>
</html>
