<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template de Header</title>
    <link rel="stylesheet" href="../styles/homeHeader.css">
</head>
<body>
<header>
    <figure>
        <img src="../images/logo.png" alt="logo" width="60" height="60">
    </figure>
    <div>
        <button type="button" class="login">Log in</button>
        <button type="button" class="register">Create account</button>
    </div>
</header>
</body>
</html>
