<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadro de Mensaje</title>
    <link rel="stylesheet" href="../styles/message.css" type="text/css">

</head>

<div class="massage-container" style="background-color: #e5ddd5">
    <div class="message-box">
        <div class="avatar">
            <img src="../images/icono.jpg" alt="Avatar" style="background-color: white">
        </div>
        <div class="avatar" style="width: 6em;">
            <img src="../images/onda.png" alt="Avatar">
        </div>
        <div class="avatar">
            <img src="../images/playbutton.png" alt="Avatar" style="background-color: white">
        </div>
    </div>
</div>
</html>
