<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadro de Mensaje</title>
    <link rel="stylesheet" href="../styles/message.css" type="text/css">

</head>

<div class="massage-container">
    <div class="message-box">
        <div class="avatar" id="icono-container">
            <img src="../images/icono.jpg">
        </div>
        <div class="avatar" id="onda-container">
            <img src="../images/onda.png">
        </div>
        <div class="avatar">
            <img src="../images/playbutton.png" id="playbutton-container">
        </div>
    </div>
</div>
</html>