.mic-button {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.mic-button:hover {
    background-color: #45a049;
}

.mic-button img {
    width: 50%;
    height: 50%;
}
.contenedor-boton {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #d3d3d3;
}
.chat-window-container{
    width: 100%;
    height: 100%;
}
