
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.panel-texto {
    background-color: #444;
    padding: 10px;
    border-radius: 0px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
}
