* {
    margin: 0;
    padding: 0;
}

header {
    background: #b1bfce;
    padding: 0.5em;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#imageLogo {
    width: 5em;
    height: 5em;
}

#optionButtons {
    width: 15.9em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #1f3677;
    color: white;
    padding: 0.65em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    background-color: #12214c;
}

#logIn {
    width: 6em;
}

#register {
    width: 9.5em;
}